* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 8vh;
    padding: 0px 40px;
    background-color: rgb(37, 108, 150);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-todo-span {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.main {
    display: flex;
    flex: 1 1 0px;
    will-change: width;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: #f3f2f1;
}

.left-column {
    width: 200px;
    z-index: 60;
    display: flex;
    flex-direction: column;
    transition: width 180ms ease;
}
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 
        0px 0.3px 0.9px grey,
        0px 1.6px 3.6px grey
    ;
}
.sidebar-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 0 24px;
    height: 48px;
    margin-top: 16px;
}
.menu-btn {
    border: none;
    background: none;
}
.sidebar-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding-top: 1px;
}
.nav-menu {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.lists-ul {
    list-style: none;
}
.todaybar-li,
.important-li,
.planed-li,
.tasks-li {
    min-width: 50px;
    position: relative;
}
.todaybar-li ::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #2564cf;
    height: 0px;
    top: 50%;
    transform: translateY(-50%);
    animation: expand 0.25s forwards;
}
.todaybar-inner,
.important-inner,
.planed-inner,
.tasks-inner  {
    cursor: pointer;
    padding: 12px 24px;
    box-sizing: border-box;
    user-select: none;
    display: flex;
    align-items: center;
}
.todaybar-inner:hover {
    background-color: #f3f3f2;
}
.important-inner:hover {
    background-color: #f3f3f2;
}
.planed-inner:hover {
    background-color: #f3f3f2;
}
.tasks-inner:hover {
    background-color: #f3f3f2;
}
.todaybar-icon,
.important-icon,
.planed-icon,
.tasks-icon {
    width: 20px;
    height: 20px;
}
.todaybar-title,
.important-title,
.planed-title,
.tasks-title  {
    margin-left: 16px;
    font-weight: 500;
}
.sidebar-line {
    margin: 9px 16px;
    height: 1px;
    background-color: #edebe9;
}
.sidebar-addList {
    flex-shrink: 0;
    z-index: 1;
    display: flex;
}
.add-list {
    padding: 12px 0 12px 24px;
    color: #2564cf;
    font-size: 1.4rem;
    position: relative;
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.add-list-btn {
    border: none;
    background: none;
    align-items: center;
    cursor: pointer;
}
.add-list-input {
    padding-left: 16px;
    width: 100%;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    line-height: 20px;
    transition: none;
    color: #323130;
}
.add-group {
    display: flex;
    align-items: center;
    position: relative;
}
.add-group-btn {
    padding: 0 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.toolbar-top {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
}
.tollbar-left {
    display: flex;
    align-items: center;
    position: relative;
}

.title-item {
    font-size: 20px;
    padding: 6px 8px;
}
.toolbar-right {
    display: flex;
    align-items: center;
}
.sort-btn {
    padding: 2px 12px;
    margin: 0 0 0 3px;
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    color: #797775;
}
.group-btn {
    padding: 2px 12px;
    margin: 0 0 0 3px;
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    color: #797775;
}
.subline {
    padding: 0 25px;
}
.today-date {
    color: #797775;
    font-size: 12px;
}

.create-task {
    margin: 20px 20px 0 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 
        0px 0.3px 0.9px grey,
        0px 1.6px 3.6px grey
    ;
}
.input-task {
    min-height: 52px;
    padding: 0px 16px;
    overflow: hidden;
    align-items: center;
    border: none;

}

.add-task {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
}
.label-container {
    display: flex;
    justify-content: space-around;
    min-height: 40px;
    overflow: hidden;
    align-items: center;
}
.calendar-btn,
.reminder-btn,
.recurring-btn {
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.add-task-btn {
    border: none;
    cursor: pointer;
}